<div class="enquiry-form-wrapper">
    <a href="javascript:void(0)" class="form-close-btn">&#10006;</a>
    <div class="enquiry-form-inner">
    <h3>Speak To school</h3>
{{ data.parent_enquiry_form }}
</div>
</div>
